@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;800&family=Lato:wght@400;700&family=Merriweather&family=Montserrat&family=Open+Sans:wght@400;700;800&family=Pacifico&family=Rubik+Mono+One&family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;800&family=Lato:wght@400;700&family=Merriweather&family=Montserrat&family=Open+Sans:wght@400;700;800&family=Pacifico&family=Rubik+Mono+One&family=Sacramento&family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;800&family=Lato:wght@400;700&family=Merriweather&family=Montserrat:wght@400;700;800&family=Open+Sans:wght@400;700;800&family=Pacifico&family=Rubik+Mono+One&family=Sacramento&family=Space+Mono:wght@400;700&display=swap");

* {
  font-family: "Inconsolata", monospace;

  font-family: "Space Mono", monospace;

  font-family: "Inconsolata", monospace;

  font-family: "Montserrat", sans-serif;

  font-family: "Space Mono", monospace;
  margin: 0;
}

.header-title {
  
  width: 50%;
  margin: 100px;
}

.header-section {
  background: #fff;
}
.header-title {
  color: #333;
  font-family: Inconsolata;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.12rem;
  text-transform: uppercase;
}
.container-div {
  display: flex;
  justify-content: space-around;
}
.banner-text {
  color: var(--gray-1, #333);
  font-family: Space Mono;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.14rem;
}
.banner-des {
  color: var(--gray-2, #4f4f4f);
  font-family: Space Mono;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.0525rem;
}
.btn-primary {
  width: 13.5rem;
  height: 4.25rem;
  flex-shrink: 0;
  background: var(--gray-1, #333);

  color: #fff;
  font-family: Space Mono;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.03063rem;
  text-transform: uppercase;
}
.footer-section {
  color: #bdbdbd;
  text-align: center;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
span {
  color: #bdbdbd;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}
