@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;800&family=Lato:wght@400;700&family=Merriweather&family=Montserrat&family=Open+Sans:wght@400;700;800&family=Pacifico&family=Rubik+Mono+One&family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;800&family=Lato:wght@400;700&family=Merriweather&family=Montserrat&family=Open+Sans:wght@400;700;800&family=Pacifico&family=Rubik+Mono+One&family=Sacramento&family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;800&family=Lato:wght@400;700&family=Merriweather&family=Montserrat:wght@400;700;800&family=Open+Sans:wght@400;700;800&family=Pacifico&family=Rubik+Mono+One&family=Sacramento&family=Space+Mono:wght@400;700&display=swap");

* {
  font-family: "Inconsolata", monospace;

  font-family: "Space Mono", monospace;

  font-family: "Inconsolata", monospace;

  font-family: "Montserrat", sans-serif;

  font-family: "Space Mono", monospace;
  margin: 0;
}

.header-title {
  width: 50%;
  margin: 100px;
}

.header-section {
  background: #fff;
}
.header-title {
  color: #333;

  font-size: 1.5rem;

  font-weight: 700;
}
.container-div {
  display: flex;
  justify-content: space-around;

  margin-top: 16.76rem;
  margin-left: 10.5rem;
  margin-right: 7.44rem;
}
.banner-text {
  color: #333;

  font-size: 3.5rem;

  font-weight: 700;
}
.banner-des {
  color: #4f4f4f;

  font-size: 1.2rem;

  font-weight: 400;

  padding: 2.2rem;

  margin-right: 200px;
  position: relative;
  right: 30px;
}
.btn-primary {
  width: 13.5rem;
  height: 4.25rem;

  background: #333;

  color: #fff;

  font-size: 0.875rem;
}
.footer-section {
  color: #bdbdbd;
  text-align: center;

  font-size: 0.875rem;

  font-weight: 500;
}
span {
  color: #bdbdbd;

  font-size: 0.875rem;

  font-weight: 700;

  text-decoration-line: underline;
}
.banner-img {
  margin-bottom: 32.53rem;
  /* width: 90rem;
  height: 67.5rem; */
}
text-container {
  padding: 2.5rem;
}
